{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Notify .</title>
</head>

<body>
    <header id="banner">
        <div id="textoBanner">
            <h3>Notify <span class="verde">.</span></h3>
            <p>A great new free psd theme to showcase your new application.</p>
            <div id="linksBanner">
                <a href=""><img src="{% static 'images/icone-ios.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/icone-android.png' %}" alt=""></a>
                <a href=""><img src="{% static 'images/icone-windows.png' %}" alt=""></a>
            </div>
        </div>
        <img id="maoCelular" src="{% static 'images/hand.png' %}" alt="">
    </header>
    
    <aside id="conteudo">
        <div class="topicos">
            <div class="icone">
                <img src="{% static 'images/icone1.png' %}" alt="">
            </div>
            <h3>Editable Theme</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate.</p>
        </div>
        <div class="topicos">
            <div class="icone">
                <img src="{% static 'images/icone2.png' %}" alt="">
            </div>
            <h3>Flat Desing</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate.</p>
        </div>
        <div class="topicos">
            <div class="icone">
                <img src="{% static 'images/icone3.png' %}" alt="">
            </div>
            <h3>Reach Your Audiench </h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate.</p>
        </div>

    </aside>

    <section id='contato'>
        <div id="descEmail">
            <h4>Get Notify Of Any Updates!</h4>
            <p >A única área que eu acho, que vai exigir muita atenção nossa, e aí eu já aventei a hipótese de até criar
                um ministério. É na área de... Na área... Eu diria assim, como uma espécie de analogia com o que
                acontece na área agrícola.</p>
            <div id="Email">
                <input type="text" id="txtEmail" placeholder="Email Address...">
                <button id="btnEmail">Notify</button>
            </div>
        </div>
        <div id="textContato">
            <iframe id="video" align="right"  src="https://www.youtube.com/embed/0yUIAp74xOQ"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </section>

    <section id="redes">
        <div id="textoDesc">
            <p>"Primeiro eu queria cumprimentar os internautas. -Oi Internautas! Depois dizer que o meio ambiente é sem
                dúvida nenhuma uma ameaça ao desenvolvimento sustentável. E isso significa que é uma ameaça pro futuro
                do nosso planeta e dos nossos países. O desemprego beira 20%, ou seja, 1 em cada 4 portugueses."</p>
            <h5 id="RedesNome">Jane Hunt</h5>
        </div>

        <div id="pessoas">
        
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""> </a> 
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a>
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a>
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a>
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a>
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a>
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a>
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a>
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a>
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a> 
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a> 
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a> 
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a> 
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a> 
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a> 
            <a href=""> <img width="40px" height="40px" src="{% static 'images/pessoa1.jpg' %}" alt=""></a> 
            
        </div>

        <div id="tituloRedes">
            <h4 >Say Hi & Get in Touch</h4>

            <p id="tituloR">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>

        <div id="redesSociais">
            <a href="https://twitter.com/"><img src="{% static 'images/redesSociais/twitter.png' %}" alt=""></a>
            <a href="https://web.facebook.com"><img src="{% static 'images/redesSociais/facebook.png' %}" alt=""></a>
            <a href="https://br.pinterest.com/"><img src="{% static 'images/redesSociais/pinterest.png' %}" alt=""></a>
            <a href="https://br.linkedin.com/"><img src="{% static 'images/redesSociais/google-plus.png' %}" alt=""></a>
            <a href="https://mail.google.com"><img src="{% static 'images/redesSociais/linkedin.png' %}" alt=""></a>
            <a href="https://www.youtube.com"><img src="{% static 'images/redesSociais/youtube.png' %}" alt=""></a>
        </div>
    </section>

    <footer id="rodape">
        <div id="linkRodape">
            <a href="">Contact</a>
            <a href="">Download</a>
            <a href="">Press</a>
            <a href="">Email</a>
            <a href="">Support</a>
            <a href="">Privacy Policy</a>
        </div>
    </footer>

</body>

</html>